.menu {
    max-width: 500px;
    max-height: 300px;
    position: absolute;
    font-size: large;
    left: 250px; /* Подстройте это значение по мере необходимости */
    top: 4.5%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .nav-item {
        margin-bottom: 10px;
        padding: .4rem 1.2rem;
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
        border-radius: .6rem;
        line-height: 1.8rem;
        z-index: 20;
        cursor: pointer;

        &:hover {
            background-color: #12171e;
            color: #fff;
        }
    }
}
