header{
    max-width: 900px;
    max-height: 400px;
    .header__title{
        position: absolute;
        top: 10%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
    .header__subtitle{
        position: absolute;
        top: 20%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }
}